<div class="how-to">
    <app-title [title]="'How to'" />
    
    <p>
        <strong>Togglight</strong> is a puzzle game where you toggle lights (that are on a grid) between off and on states. <br>
        When switching a light state, it reverses the neighboring lights states too, in a plus shape (+). <br>
        A puzzle is resolved when all lights are off.
    </p>

    <p>Unlike other Lights Out games, the grid can contain cells without lights.<p>
    
    <h2>Gamemodes</h2>
    
    <h3>Basic Levels</h3>
    
    <p>Basics levels are manually generated levels to resolve. Each level has a certain difficulty and introduces you to the game mechanics.</p>
    
    <h3>Infinte</h3>
    
    <p>Infinte levels are levels that regenerates indefinitely, on a fixed grid size.</p>
    <p>[Coming soon...]</p>
    
    <h3>Custom</h3>
    
    <p>Custom levels are levels that you can create, and save on your computer.</p>
    <p>[Coming soon...]</p>
</div>