// --------------------------------------------------------------------------------

/* Imports */

// FontAwesome Icons
@import "@fortawesome/fontawesome-free/css/all.css";

// Quicksand font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

// Poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

// Lobster font
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* Colors */

:root
{
    /* Color Palette : https://coolors.co/ffffff-ebebeb-ccc5b9-7c7770-2b2926-20201d-111111 */
    --white: #FFFFFF;
    --anti-flash-white: #EBEBEB;
    --timberwolf: #CCC5B9;
    --gray: #7C7770;
    --jet: #2B2926;
    --eerie-black: #20201D;
    --night: #111111;
    
    --gray-filter: rgba(124, 119, 112, 0.3);

    --sgbus-green: #36A112;
    --fire-engine-red: #C91D1D;
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* General styles */

body
{
    background-color: var(--night);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    color: var(--anti-flash-white);
    font-family: 'Quicksand';
    word-break: break-word;
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* Logo */

#logo
{
    font-family: 'Lobster';
    color: var(--white);
    font-size: 100px;
    user-select: none;
    margin: 5px 0 0 0;
}

header #logo
{
    font-size: 38px;
    width: 150px;
    height: 60px;
}

header a:has(#logo)
{
    width: max-content;
    box-shadow: none;
    color: var(--white);
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* Text */

p
{
    margin: 0 0 12px 0;
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* Titles */

h1, h2, h3, nav a
{
    font-family: 'Poppins';
    padding: 0;
    margin: 0 0 8px 0;
}

h1
{
    font-size: 36px;
}

h2
{
    font-size: 28px;
}

h3
{
    font-size: 20px;
    color: var(--timberwolf);
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* Images */

img
{
    user-select: none;
    pointer-events: none;
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* Links */

a:not(.btn, .level), a:not(.btn, .level):visited
{
    box-shadow: inset 0 0 var(--timberwolf);
    color: var(--timberwolf);
    text-decoration: none;
    transition: 0.25s ease;

    &:hover, &:focus
    {
        box-shadow: inset 0 -20px var(--timberwolf);
        color: var(--night);
    }
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* Buttons */

.btn-container
{
    *:not(:last-child)
    {
        margin-right: 8px;
    }
}

.btn, .btn:visited
{
    display: inline-block;
    width: max-content;
    height: max-content;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    margin: 5px 0;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.25s ease;

    &:hover, &:focus
    {
        background-color: var(--night);
        color: var(--anti-flash-white);
    }
}

.btn-primary
{
    background-color: var(--anti-flash-white);
    border-color: var(--anti-flash-white);
    color: var(--night);
}

.btn-secondary
{
    background-color: var(--eerie-black);
    border-color: var(--eerie-black);
    color: var(--anti-flash-white);
}

.btn-save
{
    background-color: var(--sgbus-green);
    border-color: var(--sgbus-green);
    color: var(--anti-flash-white);
}

.btn-delete
{
    background-color: var(--fire-engine-red);
    border-color: var(--fire-engine-red);
    color: var(--anti-flash-white)
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* Scroll bar */

::-webkit-scrollbar
{
    display: none;
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

/* Game display */

.game-display
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    overflow-y: auto;
}

// --------------------------------------------------------------------------------